.led-red {
 margin: -38px 7px;
 width: 24px;
 height:24px;
 background-color: #F00;
 border-radius: 50%;
 box-shadow: rgba(0,0,0,0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
 float: right;
}

#led-box { 
 border-top: 50px solid #7c7c7c;
 clear: left; }

@grid-columns: 2;
@grid-gutter-width: 38px;
@grid-float-breakpoint: 768px;

.make-row((@gutter: @grid-gutter-width) {
 .clearfix();

 @media (min-width: @screen-sm-min) {
  margin-left: (@gutter / -2);
  margin-right: (@gutter / -2);

 .row {
  margin-left: (@gutter / -2);
  margin-right: (@gutter / -2);
 }
}

.make-xs-columns(@columns; @gutter: @grid-gutter-width) {
 position: relative;
 min-height: 1px;
 padding-left: (@gutter / 2);
 padding-right: (@gutter / 2);
 //clear: left;

 @media (min-width: @grid-float-breakpoint) {
  float: center;
  width: percentage((@columns / @grid-columns));
 }
}

.make-sm-column(@columns; @gutter: @grid-gutter-width) {
 position: relative;
 min-height: 1px;
 padding-left: (@gutter / 2);
 padding-right: (@gutter / 2);
 //clear: left;

 @media (min-width: @screen-sm-min) {
  float: left;
  width: percentage((@columns / @grid-columns));
 }
}

.make-md-column(@columns; @gutter: @grid-gutter-width) {
 position: relative;
 min-height: 1px;
 padding-left: (@gutter / 2);
 padding-right: (@gutter / 2);
 //clear: left;

 @media (min-width: @screen-md-min) {
  float: left;
  width: percentage((@columns / @grid-columns));
  }
}

.make-lg-column(@columns; @gutter: @grid-gutter-width) {
 position: relative;
 min-height: 1px;
 padding-left: (@gutter / 2);
 padding-right: (@gutter / 2);
 //clear: left;

 @media (min-width: @screen-lg-min) {
  float: left;
  width: percentage((@columns / @grid-columns));
  }
}

#temp_gauge_holder {
 clear: left; !important
 float: left; !important
 width: 220px;
 padding-left: 10px;
 padding-right: 10px;
}

#temp_daily_line_holder {
 float: left;
 clear: right;
 width: 700px;
}

#temp_monthly_line_holder {
 float:left;
 width: 700px;
}

#humidity_gauge_holder {
 clear: left;
}

#humidity_daily_line_holder {
 float: left;
}

#humidity_monthly_line_holder {
 float: left;
}
